.profile-page {
    max-width: 1500px;
    margin: auto;
    padding: 20px;
  }
  
  .profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile-image {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .profile-info {
    flex: 1;
    margin-left: 20px;
  }
  
  .profile-questions {
    margin-top: 20px;
  }
  
  .message-box {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: calc(100vh - 300px); /* Adjust based on your layout */
    width: calc(90vw - 300px);
    overflow-y: auto;
  }
  
