/* From Uiverse.io by adamgiebl */ 

h1{
  margin: 0;
  padding: 5px;
  color:#101010d6
}

.create-button {
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border: 3px solid rgba(0, 0, 0, 0.544);
  border-radius: 20px; 
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.62);
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
  margin-top: 30px;
  margin-bottom: 10px;
}

.create-button:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #a2d5f2;
  z-index: -1;
  border-radius: 20px;
}

.create-button:hover, .create-button:focus {
  color: white;
}

.create-button:hover:before, .create-button:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.create-button:active {
  transform: scale(0.9);
}

.view-button {
  margin: 20px 0;
  padding: 10px 8px;
  background: #ffffff;
  font-size: 0.8rem; 
  font-weight: 500;
  color: #181818;
  border: 3px solid #101010;
  border-radius: 12px;
  box-shadow: 0 0 0 #fec1958c;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.view-button:hover {
  background: transparent;
  color: #a2d5f2;
}